/* Custom Google Fonts */
h2 {
  font-family: 'Quando', serif;
}
h3 {
  font-family: 'Judson', serif;
}
p {
  font-family: 'Montserrat', sans-serif;
  }
html {
    height: 100%;
}
body {
    background-size: cover;
    height: 100%;
}
canvas {
  padding-top: 225px;
  padding-left: 100px;
}
/* Intro settings */
#name-intro{
  background-image: url(../images/After\ Noon\ Desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1080px;
  overflow: hidden;
}
.bg-image {
  height: auto;
}
#about-me {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #FFEDB3;
}
#mystuff {
  width: 100%;
  text-align: center;
  background-color: #96CDCC;
  padding-top: 20px;
  padding-bottom: 20px;
}
#macbook {
  position: relative;
}
.macbook-img {
  background-image: url(../images/macbook.svg);
  background-position: center;
  margin: auto;
  width: 300px;
  height: 168px;
}
