
#top {
  background-image: url(../images/red_sunset.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 450px;
  overflow: hidden;
}

canvas {
  padding-top: 120px;
  padding-left: 100px;
}

.chrome-picture {
/*  background-image: url(../images/imac.svg);
  background-repeat: no-repeat;
  background-position: center;*/

  margin: auto;
  max-width: 720px;
  height: auto;
  width: 100%;
}
#hackathon {
  background-color: #50CDCC;
  width: 100%;
  text-align: center;

  padding-top: 50px;
}
.android-picture {
/*  background-image: url(../images/imac.svg);
  background-repeat: no-repeat;
  background-position: center;*/

  margin: auto;
  max-width: 720px;
  height: auto;
  width: 100%;
}
#android {
  background-color: #82CDEE;
  width: 100%;
  text-align: center;

  padding-top: 50px;
}
.imac-picture {
/*  background-image: url(../images/imac.svg);
  background-repeat: no-repeat;
  background-position: center;*/

  margin: auto;
  max-width: 600px;
  height: auto;
  width: 100%;
}
#nodejs {
  background-color: #71CDFF;
  width: 100%;
  text-align: center;

  padding-top: 50px;
}

.editor-picture {

  background-image: url(../images/editor.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
  width: 616px;
  max-width: 100%;
  height: 424px;
}
#thiswebsite {
  background-color: #96CDCC;
  width: 100%;
  text-align: center;

  padding-top: 50px;
}