/* index.html Macbook code settings */
.code {
  font-size: 8px;
  color: #ffffff;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  text-align: left;
  float: left;
  padding-top: 12px;
  padding-left: 38px;
  z-index: 1000;
}
/* projects.html personal website code settings */
.websitecode {
  font-size: 13.5px;
  color: #ffffff;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  text-align: left;
  float: left;
  padding-top: 37.75px;
  padding-left: 35px;
  z-index: 1000;
}



